---
import Layout from "../layouts/Layout.astro";
import DecorationSvg from "../assets/images/vector.svg";
import Content from "../components/Content.jsx";
import { getCoffees } from "../data/coffee";
import type { Coffee } from "../data/coffee";

const allCoffees: Coffee[] = await getCoffees();
---

<Layout>
    <div class="text-center relative py-8 flex flex-col items-center">
        <DecorationSvg class="absolute top-0 right-0 z-0" />
        <h1 class="text-[2rem] font-bold text-lightest relative z-10">
            Our Collection
        </h1>
        <h2
            class="max-w-xl mt-3 text-[1rem] text-lighter font-medium relative z-10"
        >
            Introducing our Coffee Collection, a selection of unique coffees
            from different roast types and origins, expertly roasted in small
            batches and shipped fresh weekly.
        </h2>
        <Content client:load allCoffees={allCoffees} />
    </div>
</Layout>
