---
import "../styles/global.css";
import Favicon from "../assets/images/favicon.ico";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href={Favicon} />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Explore a delightful selection of coffee blends, detailed with rich flavors and origins."
        />
        <title>Coffee Listing Menu</title>
        <style>
            .material-icons {
                font-size: inherit;
                vertical-align: middle;
            }
        </style>
    </head>
    <body class="bg-darkest font-sans text-lightest">
        <slot />
    </body>
</html>
