---
import "../styles/global.css";
import { Image } from "astro:assets";
import bgImg from "../assets/images/bg-cafe-lg.jpg";

import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
    <div class="relative min-h-screen p-4 sm:p-6 lg:p-8">
        <div class="absolute inset-0 z-0">
            <div
                class="absolute inset-0 bg-linear-to-t from-background-light to-transparent dark:from-background-dark dark:to-transparent"
            >
            </div>
            <Image
                alt="The outside of a Caffe in a painting style"
                class="object-cover w-full h-60"
                src={bgImg}
                layout="none"
                loading="eager"
            />
        </div>
        <main class="relative z-10 max-w-5xl mx-auto mt-16 md:mt-24 lg:mt-28">
            <div
                class="bg-darker p-8 sm:p-10 rounded-xl flex items-center justify-center"
            >
                <slot />
            </div>
        </main>
    </div>
</BaseLayout>
